{% extends 'eHealth/base.html' %}

{% load staticfiles %}

{% block title %}
    About
{% endblock %}

{% block body_block %}
    <div class="page-header1">
                <h1>About Us</h1>
            </div>
         <br/>
    <div class="text1">The	purpose	of	this	application	is	to	help	people	find	out	about
particular	conditions	and	to	save	the	information	that	they	find	into	different
folders.	The	application	lets	people	search	across	two	different	medical	sites
(medline	and	healthfinder)	and	the	general	web	(bing).
</div>
{% endblock %}