{% extends "eHealth/base.html" %}

{% load staticfiles %}

{% block body_block %}

            <div class="searching col-md-7">


                <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Search..." />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                </div>


                <div id="popular">
                    {% if pages %}
                        <h3>Most Popular Articles</h3>
                        <ul class="list-group">
                            {% for page in pages %}
                             <li>{{ page }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <strong>There are no categories present.</strong>
                    {% endif %}
                </div>

                <div id="shared">
                    {% if pages %}
                        <h3>Shared Articles</h3>
                        <ul class="list-group">
                            {% for page in pages %}
                             <li>{{ page }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <strong>There are no categories present.</strong>
                    {% endif %}
                </div>


            </div>





        <div class="login col-md-5">

            {% include 'registration/login.html' %}
        </div>



{% endblock %}