{% extends "eHealth/base.html" %}

{% load staticfiles %}


    {% block otherSources %}               

    <link rel="stylesheet" href="{{ STATIC_URL }}jquery.alerts.css">
    <script src="{{ STATIC_URL }}jquery.alerts.js"></script>


    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-switch.css">
    <script src="{{ STATIC_URL }}bootstrap-switch.js"></script>


    <script src="{{ STATIC_URL }}user_jQuery_functions.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}user_stylesheet.css" />

   {% endblock %}
    



    {% block body_block %}
    <div class="containerd">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Your Info</h3>
                        
                        <ul id="userINFO" class="list-group">
                            <li class="list-group-item" id="name_li">Name: {{ userInformation.name }} {{ userInformation.surname }}</li>
                            <li class="list-group-item" id="age_li">Age: {{ userInformation.age }}</li>
                            <li class="list-group-item" id="username_li">Username: {{ user.username }}</li>
                            <li class="list-group-item" id="email_li">Email: {{ userInformation.email }}</li>
                            <li class="list-group-item" id="gender_li">Gender: {{ userInformation.gender }}</li>
                        </ul>

                        <div id="profile_form" class="list-group-item">
                            First Name:<input type="text" id="firstnameinp" class="profile_form" form="profile_form" name="firstname" value="FirstNameHere" /> <br />
                            Last Name: <input id="lastnameinp" class="profile_form" type="text" form="profile_form" name="lastname" value="LastNameHere" /> <br />
                            Age: <input class="profile_form" id="ageinp" type="text" form="profile_form" name="agename" value="AgeHere" /><br />
                            Username: <input class="profile_form" id="usernameinp" type="text" form="profile_form" name="username" value="UsernameHere" /><br />
                            Email:<input class="profile_form" id="emailinp" type="text" form="profile_form" name="emailname" value="EmailHere" /><br />
                            Gender:<input class="profile_form" id="genderinp" type="text" form="profile_form" name="gendername" value="GenderHere" /><br />

                            <button id="button_submit_user_info" class="profile_form">Submit</button>
                            <!--<input type="submit" id="button_age" value="Submit!" class="user_profile_buttons profile_form"/>-->
                        </div>
                    
                        <!--<button id="button_toggle" class="user_profile_buttons profile_form">Change Information</button>-->

                        <a href="#" id="button_toggle" class="btn btn-primary user_profile_buttons profile_form" role="button">Change Information</a>

                        <!--<div class="list-group">
                            <a href="#" class="list-group-item ">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">...</p>
                            </a>
                        </div>-->

                     <!--   <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Your Categories!!!</h3>

                
                        <div id="div_containing_list_of_categories" class="list-group" >
                       
                            <div id="list_of_categories">
                                {% for category in cateogoryList %}
                                <a href="#" class="list-group-item ">
                                    <h4 class="list-group-item-heading category_link" id="{{category.slug}}">{{category.name}}</h4>
                                    <input type="checkbox" class="category_deletions other" id="{{category.pk}}" name="delete" value="{{category.pk}}" />

                                </a>
                                {% endfor %}
                                
                                <!--<p class="list-group-item-text">List Group Item Text</p>-->
                               <!-- <a class="category_link" id="{{category.slug}}" href="#">{{category.name}}</a>-->

                               <!-- <a class="category_link" id="{{category.slug}}" href="#">{{category.name}}</a></li>-->
                               
                            </div>
                        </div>

                    
                        <p><a id="add_category_button" href="#" class="btn btn-primary" role="button">Add a category!</a> <a href="#" class="btn btn-primary" id="delete_categories_button" role="button">Delete Category(ies)</a></p>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-5">
                <div class="thumbnail">
                    <div class="caption">
                        <h3 class="add_the_category_name ">Your Pages!!!</h3>
                        
                        
                        <div id="saved_pages_list ">
                            <div id="pages_on_the_fly" class="list-group" >
                                {% for savedPage in savedPages %}

                                <a href="#" class="list-group-item">

                                    <p></p>
                                    <h4 class="openNewWindow" id="{{savedPage.pk}}" href="{{savedPage.linkURL}}"> {{savedPage.title}} </h4>
                               
                                
                                 </a>                                                              
                                    <!--Rembember that we have to do a Javacript post check to see which check box is which-->
                                   
                                {% endfor %}
                            </div>
                            <!--<button id=\"add_page_button\">Add-->
                        </div>
                        <!--<button id=""> Delete Page</button>-->
                        <p><a href="#" id="add_page_button" class="btn btn-primary" role="button">Add a page!</a> <a href="#" class="btn btn-primary" id="delete_pages_button" role="button">Delete Page(s)</a></p>
                    </div>
                </div>
            </div>



        </div>
    </div>
    {% endblock %}
