{% extends "eHealth/base.html" %}

{% load staticfiles %}


    {% block otherSources %}

<link rel="stylesheet" href="{{ STATIC_URL }}jquery.alerts.css">
<script src="{{ STATIC_URL }}jquery.alerts.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-switch.css">
<script src="{{ STATIC_URL }}bootstrap-switch.js"></script>
<script src="{{ STATIC_URL }}user_jQuery_functions.js"></script>
<!--<link rel="stylesheet" href="{{ STATIC_URL }}stylesheet.css" />-->
   {% endblock %}




    {% block body_block %}
<div class="row equal">
    <div class="col-md-4 col-lg-4 text-center ccolumn1 ">
        <!-- 1. -->
        <!--  need to get the user name and other user information -->
        <ul id="userINFO">
            <li id="name_li">Name: {{ userInformation.name }} {{ userInformation.surname }}</li>
            <li id="age_li">Age: {{ userInformation.age }}</li>
            <li id="username_li">Username: {{ userInformation.username }}</li>
            <li id="email_li">Email: {{ userInformation.email }}</li>
            <li id="gender_li">Gender: {{ userInformation.gender }}</li>
        </ul>

        <div id="profile_form">
            First Name:<input type="text" id="firstnameinp" class="profile_form" form="profile_form" name="firstname" value="FirstNameHere" /> <br />
            Last Name: <input id="lastnameinp" class="profile_form" type="text" form="profile_form" name="lastname" value="LastNameHere" /> <br />
            Age: <input class="profile_form" id="ageinp" type="text" form="profile_form" name="agename" value="AgeHere" /><br />
            Username: <input class="profile_form" id="usernameinp" type="text" form="profile_form" name="username" value="UsernameHere" /><br />
            Email:<input class="profile_form" id="emailinp" type="text" form="profile_form" name="emailname" value="EmailHere" /><br />
            Gender:<input class="profile_form" id="genderinp" type="text" form="profile_form" name="gendername" value="GenderHere" /><br />

            <button id="button_submit_user_info" class="profile_form">Submitdsfsfsd</button>
            <!--<input type="submit" id="button_age" value="Submit!" class="user_profile_buttons profile_form"/>-->
        </div>

        <button id="button_toggle" class="user_profile_buttons profile_form">Change Information</button>
        <!-- 2. -->
        <!-- Get a link to change settings for the user as in, another html page -->
        <!--<a href="eHealth/"> </a>-->
    </div>

    <div id="div_containing_list_of_categories col-md-4 col-lg-4 text-center ccolumn2 ">
        <!-- 3. The Category List -->
        <!-- Below was taken from a website: it has the scrolling effect -->
        <!--ul{height:200px; width:18%;}
        ul{overflow:hidden; overflow-y:scroll;}-->

        <ul id="list_of_categories">
            {% for category in cateogoryList %}
            <li><input type="checkbox" class="category_deletions" id="{{category.pk}}" name="delete" value="{{category.pk}}" /> <a class="category_link" id="{{category.slug}}" href="#">{{category.name}}</a></li>
            {% endfor %}
        </ul>
        <button id="add_category_button">Add a category!</button>
    </div>


    <div id="saved_pages_list col-md-4 col-lg-4 text-center ccolumn3">
        <!-- 4. Saved Links -->
        <!-- Below was taken from a website: it has the scrolling effect -->
        <!--ul{height:200px; width:18%;}
        ul{overflow:hidden; overflow-y:scroll;}-->

        <ul id="pages_on_the_fly">
            {% for savedPage in savedPages %}
            <li>
                <a class="openNewWindow" id="{{savedPage.pk}}" href="{{savedPage.linkURL}}"> {{savedPage.title}} </a>

                <!--Rembember that we have to do a Javacript post check to see which check box is which-->
                <!-- <input type="checkbox" id="{savedPage.pk}}" class="privateVpublic" name="private_v_public" value="public" />-->

            </li>
            {% endfor %}
        </ul>
        <!--<button id=\"add_page_button\">Add a page!</button>-->
        <button id="add_page_button">Add a page!</button>
    </div>
</div>

<div class="row text-center">
    <!-- buttons and other things  -->
    <button id="delete_categories_button"> delete category </button>
    <button id="delete_pages_button"> delete page</button>
</div>
    {% endblock %}
