.tabs {
    margin-top: 10px;
    float:right;
    }

.login{
    padding-bottom: 20px;
    padding-left: 240px;
    padding-right: 20px;
    padding-top: 20px;
  }

#log-form {
    width: 240px;
}


.checkbox {
    padding-left: 20px;
    }

.navbar-header {
    font-size: 300%;
    }

.navbar-header h1 {
    font-size: 90%;
    margin-left: 30px;
    color: #5683A9;
    }

.searching {
    padding-top: 150px;
}


.searching input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
}

.searchig input input{
    border: 0;
    box-shadow: none;
}

.searching input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.searching input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}


#popular {
    position: relative;
    top: 60px;
    }

#shared {
    position: relative;
    float: right;
    bottom: 55px;
    padding-right: 130px;
}


html {
  background-image: url('images/health.jpg');
  background-size:100% auto;
  /**min-height: 600px; */
  height: 100%;
  background-repeat: no-repeat;
}

#check-search {
    margin-top: 30px;
    }

.main {
    height: 100%;
    width: 100%;
    top: 51px;
}


#search_2 {
    width: 400px;
    }




.form-horizontal {
    color: #5683A9;

    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #5683A9;

    font-size: x-large;
    font-size: 17px;

    margin-left: 1%;
    margin-top: 1%;
    word-spacing: 5px;

}


.form-horizontal input{
   border-bottom-color: #b3b3b3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #b3b3b3;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #b3b3b3;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #b3b3b3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;

}
.form-horizontal .required .helptext {
    display: none;
}



.form-horizontal input[type="submit"] {
  color: ghostwhite;
 background: #5683A9;
 padding: 15px 40px;
 border-radius: 4px;
 font-weight: 600;
 text-transform: uppercase;
 transition: all 0.2s ease-in-out;
    font-family:'Helvetica Neue',sans-serif;
    font-size: medium;
border-color: #b3b3b3;


}

.form-horizontal input[type="submit"]:hover {
  color: rgba(5, 5, 2,0.1);
 box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
font-size: 100%;

}
.form-horizontal p{
    width: 200px;

}

.result_engines {
    padding: 20px;
    width: 110%;
    border: 2px solid;
    height: 500px;
    background-color: white;
    margin-top: 0px;
    border-radius: 25px;
    border: 2px solid #73AD21;
}


.tab-content {
  overflow-y: auto;
  height: 400px;
  width: 100%;
  position: absolute;
  padding-top: 50px;
}

#query_2 input{
    width: 400px;
    }


.hover_element div.pop-up {
    display: none;
    width: 500px;
    line-height: 20px;
    background-color: #F1F1F1;

    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    height: 150px;
    padding-top: 10px;
    }

.hover_element:hover div.pop-up {
    display: block;
}

.hover_element:hover div.pop-up p {
    text-decoration: none;
    }

div.pop-up button {
    border-radius: 10px;
}


.page-header1 {
    font-size: large;
    color: #5683A9;
}

/*********************
**********************
*** SLIDER STYLING ***
**********************
*********************/

#slider-subj {
    padding-top: 60px;
    }

#slider-polarity {
    padding-top: 30px;
    }

#slider-readability {
    padding-top: 30px;
    }

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.btn {
  display: inline-block;
  padding: 10px 12px;
  color: #fff;
  text-decoration: none;
  background: $btncolour;
  border-radius: 3px;
  }


/**************
***************
*** FILTERS ***
***************
**************/


#bingPola {
    display: inline;
    width: 150px;
    text-align: center;
    padding-left: 10px;
    }

#bingSubj {
    display: inline;
    text-align: left;
    }

#bingreada {
    width: 150px;
    display: inline;
    padding-left: 10px;
    text-align: right;
    }

.mybtn{
    font-size: small;
    border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
width: 80px;
    height: 40px;

}
.text1{
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: black;
    font-size: large;
}
.title1{
    color: #3071a9;
}

/*************
*************/


